python 3.11.9

DATA ANALYSIS IN HOSPITALITY DOMAIN

- a company which onws multiple hotels in India 
- they have many type of room .
- room booking by - website , 3rd party booking apps
- all booking data of verious platfrom connected to a single database(booking database) 
- they have heavy compitiror in market 
- and want to increse their revenue

In [1]:
import pandas as pd

In [ ]:
df_booking = pd.read_csv("datasets/fact_bookings.csv")
# looking for 4 rows to know what data i have
df_booking.head(4)

,booking_id,property_id,booking_date,check_in_date,checkout_date,no_guests,room_category,booking_platform,ratings_given,booking_status,revenue_generated,revenue_realized
0,May012216558RT11,16558,27-04-22,1/5/2022,2/5/2022,-3.0,RT1,direct online,1.0,Checked Out,10010,10010
1,May012216558RT12,16558,30-04-22,1/5/2022,2/5/2022,2.0,RT1,others,NaN,Cancelled,9100,3640
2,May012216558RT13,16558,28-04-22,1/5/2022,4/5/2022,2.0,RT1,logtrip,5.0,Checked Out,9100000,9100
3,May012216558RT14,16558,28-04-22,1/5/2022,2/5/2022,-2.0,RT1,others,NaN,Cancelled,9100,3640

- lets understand the dataframe 
- unique booking id 
- unique property id
- i have booking date , check in date , chackout date with no of guests
- i have unique room category maybe multiple 
- i have muiltiple booking platform 
- i have rating 
- booking status 
- based on booking status we have 2 type revenue 
- 1 revenue that generated , 2 after cancelation charge /tips/ discount we have real revenue

In [ ]:
# i want to know how many rows and columns i have
df_booking.shape

(134590, 12)

In [4]:
# as i saw  have room category , so i want to know how many room category i have
df_booking.room_category.unique()

array(['RT1', 'RT2', 'RT3', 'RT4'], dtype=object)

['RT1', 'RT2', 'RT3', 'RT4']  i have 4 room category